.calc-body {
    height: 600px;
    width: 500px;
    background-color: rgb(75, 75, 75);
    border-radius: 15px;
}

.num-pad {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    justify-content: center;
}
.number {
    color: white;
    background-color: black;
    width: 133px;
    text-align: center;
}